bigdata/*

*.tmp
.matplotlib-cache/*

.DS*
.ipynb*
*ingore*/

*.pyc
logs/*
prev/*
results/*
figures/*
tables/*
tmpresults/*
~$*

.vscode/*

annual.ipynb
annual_imputation_all_scenarios_disease_specific.xlsx